*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 16px;
}

.container{
    width: 1440px;
    height: 100vh;
    background-color: hsl(235, 18%, 26%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletterTemplate{
    background-color:hsl(0, 0%, 100%);
    width: 60%;
    height: 77%;
    display: flex;
    border-radius: 25px;
}

.left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.detailsAndSignup{
    height: 93%;
    width: 84%;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
    position: relative;
}

.detailsAndSignup h1{
    font: bold;
    font-size: 3rem;
}

.checks{
    display: flex;
    align-items: center;
}
.checks img{
    margin-right: 15px;
}

.signupimg{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.signupimg img{
    height: 93%;
}

.bulletPoints{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.emailsection input{
    width: 100%;
    margin: 10px 0px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid hsl(231, 7%, 60%);
    cursor: pointer;
    
}
.epara{
    display: flex;
    justify-content: space-between;
}
#error{
    color: hsl(4, 86%, 56%);
    display: none;
}


.submit button {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    background-color:  hsl(234, 29%, 20%);
    color: white;
    font-size: 1.1rem;
    cursor: pointer; 
    position: absolute;
    bottom: 80px;  
    transition: 0.2s all;
}

.submit button:active {
    transform: scale(0.98);
}
.submit button:hover{
    background-color: hsl(4, 86%, 56%);
}

.successbox{
    background-color: white;
    width: 420px;
    height: 420px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    display: none;

}


.succescontent{
    width: 85%;
    height: 88%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 30px 32px;
    
    
}
.succescontent img{
    width: 60px;
}
.succescontent h2{
    font-weight: bold;
    font-size: 2.5rem;
}


.succescontent .moblower button {
    height: 50px;
    width: 100%;

    background-color: hsl(4, 86%, 56%);
    border-radius: 10px;
    color: white;
    font-size: large;
    cursor: pointer;
    transition: 0.2s all;
    box-shadow: hsla(4, 86%, 56%, 0.441) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.mobupper{
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.succescontent button:active {
    transform: scale(0.98);
}

#mobileimg{
    display: none;
}

@media (width < 600px){
    #pcimg{
        display: none;
    }

    #mobileimg{
        display: block;
        width: 100%;
        height: 284px;
    }

    .container{
        width: 375px;
        height: 100vh;
    }
    .newsletterTemplate{
        width: 375px;
        height: 100vh;
        border-radius: 0;
        flex-direction: column-reverse;
    }

    .signupimg{
        width: 100%;
        height: 30%;
    }

    .left{
        width: 100%;
        height: 75%;
    }

    .detailsAndSignup{
        height: 95%;
        width: 100%;
        gap: 20px;
    }

    .detailsAndSignup h1{
        font: bold;
        font-size: 2.4rem;
    }
    .bulletPoints{
        gap: 15px;
    }
    .submit button{
        bottom: 0;
    }

    .successbox{
        width: 375px;
        height: 100vh;
    }
    .mobupper{
        margin: 30% 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .moblower{
        margin: 20% 0;
    }

    .succescontent{
        margin: 0 28px;
        border-radius: 0;
    }
}